@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

body {
    font-family: 'EB Garamod', serif;
}

.logo h1 {
    width: 200px;
    height: 100px;
    background-image: url(./img/Pokémon-Com-Fundo-Transparente.png);
    background-size: cover;
    display: flex;
    margin: auto;
    margin-top: 30px;
    text-align: center;
}

.pesquisar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    margin-left: 30px;
    text-align: center;
}

.pesquisar input {
    width: 200px;
    height: 20px;
    border-radius: 25px;
    border: 2px solid #949ffd;
}

.pesquisar button {
    background-color: #949ffd;
    border-radius: 25px;
    border: 2px #949ffd;
    color: #fff;
    padding: 5px 5px;
}

.pokeinfo {
    width: 450px;
    height: 450px;
    background-color: #99cc56;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    margin-right: 480px;
    border: 1px solid black;
    border-radius: 25px;
}

.pokeinfo .pokemons_img img {
    width: 250px;
    height: 250px;
}

.pokemons_carac {
    font-size: 20px;

}

.pokemons_carac p {
    color: #000000;
    
}

@media only screen and (max-width: 767px) {
    .logo h1 {
        width: 150px;
        height: 75px;
    }

    .pokeinfo {
        width: 400px;
        height: 400px;
        margin-left: 60px;
    }

    .pokeinfo .pokemons_img img {
        width: 200px;
        height: 200px;
    }
}
